:root {
    --red: #bb342f;
    --dark-red: #87251e;
    --primary: #171717;
    --primary-darker: #121212;
    --text: #dbdbdb;
    --text-key: #828282;
    --light-bubble: #343434;
    --light-bubble-border: #4e4d4d;
}

svg {
    color: var(--red);
}